@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  .page-content {
    max-width: 1440px;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    @apply mx-auto;
  }
}
